/* Roman */
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  src: url("./variable/WorkSans-Roman-VF-no-hint-latin.woff2") format("woff2");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  src: url("./variable/WorkSans-Roman-VF-no-hint-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  src: url("./variable/WorkSans-Roman-VF-no-hint-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  src: url("./variable/WorkSans-Roman-VF-no-hint-rest.woff2") format("woff2");
  unicode-range: U+2000-FB02;
}
/* Italic */
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: italic;
  src: url("./variable/WorkSans-Italic-VF-no-hint-latin.woff2") format("woff2");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: italic;
  src: url("./variable/WorkSans-Italic-VF-no-hint-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: italic;
  src: url("./variable/WorkSans-Italic-VF-no-hint-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans Variable";
  font-display: swap;
  font-weight: 100 900;
  font-stretch: normal;
  font-style: italic;
  src: url("./variable/WorkSans-Italic-VF-no-hint-rest.woff2") format("woff2");
  unicode-range: U+2000-FB02;
}
