body.light {
  --text: #000;
  --background: #fff;
  --primary: rebeccapurple;
  --secondary: #e75480;
  --accent: orangered;
  --mute: #f6f6f6;
  --highlight-code: #ff450030;
}
body.dark {
  --text: #fff;
  --background: #101010;
  --primary: #59ab6d;
  --secondary: #59ab6d;
  --accent: #00b7ff;
  --mute: rgba(0, 0, 0, 0.5);
  --highlight-code: #00b7ff1f;
}
