/*
  It doesn't work on IE11 because of custom properties.
  It's inspired from https://wakamaifondue.com/. Use it if
  you don't need to support IE11.
*/
:root {
  --kern: "kern" on;
  /* ligatures */
  --liga: "liga" on;
  --clig: "clig" on;
  --calt: "calt" on;
  /* display text */
  --dlig: "dlig" off;
  --swsh: "swsh" off;
  --salt: "salt" off;
  /* numbers */
  --onum: "onum" off;
  --pnum: "pnum" off;
  --lnum: "lnum" off;
  --tnum: "tnum" off;
  --frac: "frac" off;
  --subs: "subs" off;
  --sups: "sups" off;
  /* caps */
  --smcp: "smcp" off;
  --c2sc: "c2sc" off;
  --pcap: "pcap" off;
  --c2pc: "c2pc" off;
}
* {
  font-feature-settings: var(--kern), var(--liga), var(--clig), var(--calt),
    var(--dlig), var(--swsh), var(--salt), var(--onum), var(--pnum), var(--lnum),
    var(--tnum), var(--frac), var(--subs), var(--sups), var(--smcp), var(--c2sc),
    var(--pcap), var(--c2pc);
}
@supports (font-kerning: normal) {
  :root {
    /*
      If the browser supports font-kerning or font-variant-*,
      deactivate the relevant font-feature-settings.
    */
    --kern: "____";
    font-kerning: normal;
  }
}
@supports (font-variant-ligatures: common-ligatures contextual) {
  :root {
    --liga: "____";
    --clig: "____";
    --calt: "____";
    font-variant-ligatures: common-ligatures contextual;
  }
}
abbr,
.small-caps {
  --onum: "onum" on;
  --pnum: "pnum" on;
  --smcp: "smcp" on;
  --c2sc: "c2sc" on;
}
@supports (font-variant-numeric: oldstyle-nums proportional-nums) and
  (font-variant-caps: all-small-caps) {
  abbr,
  .small-caps {
    --onum: "____";
    --pnum: "____";
    --smcp: "____";
    --c2sc: "____";
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-variant-caps: all-small-caps;
  }
}
.petite-caps {
  --onum: "onum" on;
  --pnum: "pnum" on;
  --pcap: "pcap" on;
  --c2pc: "c2pc" on;
}
@supports (font-variant-caps: all-petite-caps) and
  (font-variant-numeric: oldstyle-nums proportional-nums) {
  .petite-caps {
    --onum: "____";
    --pnum: "____";
    --pcap: "____";
    --c2pc: "____";
    font-variant-caps: all-petite-caps;
    font-variant-numeric: oldstyle-nums proportional-nums;
  }
}
p,
.body-text {
  --onum: "onum" on;
  --pnum: "pnum" on;
}
/*
  If you want the `font-variant-numberic` to take effect
  in all cases, you should switch off ALL the numeric
  variables, because they may cascade.
*/
@supports (font-variant-numeric: oldstyle-nums proportional-nums) {
  p,
  .body-text {
    --onum: "____";
    --pnum: "____";
    font-variant-numeric: oldstyle-nums proportional-nums;
  }
}
td {
  --lnum: "lnum" on;
  --tnum: "tnum" on;
}
@supports (font-variant-numeric: lining-nums tabular-nums) {
  td {
    --lnum: "____";
    --tnum: "____";
    font-variant-numeric: lining-nums tabular-nums;
  }
}
.fraction {
  --frac: "frac" on;
}
@supports (font-variant-numeric: diagonal-fractions) {
  .fraction {
    --frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}
sub,
.subscript {
  --subs: "subs" on;
  font-size: unset;
  vertical-align: unset;
}
@supports (font-variant-position: sub) {
  sub,
  .subscript {
    --subs: "____";
    font-variant-position: sub;
  }
}
sup,
.superscript {
  --sups: "sups" on;
  font-size: unset;
  vertical-align: unset;
}
@supports (font-variant-position: super) {
  sup,
  .superscript {
    --sups: "____";
    font-variant-position: super;
  }
}
.dlig,
.swash {
  --dlig: "dlig" on;
}
@supports (
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures
) {
  .dlig,
  .swash {
    --dlig: "____";
    font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  }
}
/*
  font-variant-alternates is obsolete according to MDN,
  so no supports feature queries for the following.
*/
.swash {
  --swsh: "swsh" on;
}
.stylistic-alternates {
  --salt: "salt" on;
}
/* Don't forget about stylistic sets, ss01-ss?? */
