@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/AlegreyaSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
}
