/* Regular */
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-latin.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-latin.woff")
      format("woff");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-rest.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-rest.woff")
      format("woff");
  unicode-range: U+2000-1F916;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-greek.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-greek.woff")
      format("woff");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-greek-extended.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-greek-extended.woff")
      format("woff");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-combining-diacritical-marks.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-combining-diacritical-marks.woff")
      format("woff");
  unicode-range: U+0300-036F;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-phonetic.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Regular/SourceSansPro-Regular-phonetic.woff")
      format("woff");
  unicode-range: U+0250-02FF;
}
/* Italic */
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-latin.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-latin.woff") format("woff");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-rest.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-rest.woff") format("woff");
  unicode-range: U+2000-1F916;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-greek.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-greek.woff") format("woff");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-greek-extended.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-greek-extended.woff")
      format("woff");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-combining-diacritical-marks.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-combining-diacritical-marks.woff")
      format("woff");
  unicode-range: U+0300-036F;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/SourceSansPro-It/SourceSansPro-It-phonetic.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-It/SourceSansPro-It-phonetic.woff")
      format("woff");
  unicode-range: U+0250-02FF;
}
/* Bold */
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-latin.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-latin.woff")
      format("woff");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-rest.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-rest.woff")
      format("woff");
  unicode-range: U+2000-1F916;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-greek.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-greek.woff")
      format("woff");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-greek-extended.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-greek-extended.woff")
      format("woff");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-combining-diacritical-marks.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-combining-diacritical-marks.woff")
      format("woff");
  unicode-range: U+0300-036F;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-phonetic.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-Bold/SourceSansPro-Bold-phonetic.woff")
      format("woff");
  unicode-range: U+0250-02FF;
}
/* Bold Italic */
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-latin.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-latin.woff")
      format("woff");
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-rest.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-rest.woff")
      format("woff");
  unicode-range: U+2000-1F916;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-greek.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-greek.woff")
      format("woff");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-greek-extended.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-greek-extended.woff")
      format("woff");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-combining-diacritical-marks.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-combining-diacritical-marks.woff")
      format("woff");
  unicode-range: U+0300-036F;
}
@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-phonetic.woff2")
      format("woff2"),
    url("./fonts/SourceSansPro-BoldIt/SourceSansPro-BoldIt-phonetic.woff")
      format("woff");
  unicode-range: U+0250-02FF;
}
